/home/rajat/Desktop/Full\ Stack\ 2/backend/node_modules
/home/rajat/Desktop/Full\ Stack\ 2/backend/.env
/home/rajat/Desktop/Full\ Stack\ 2/backend/.vscode
/home/rajat/Desktop/Full\ Stack\ 2/backend/test.js
/home/rajat/Desktop/Full\ Stack\ 2/backend/test123.js

